*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main{
width: 100%;
height: 100vh;
position: relative;
overflow: hidden;
background: linear-gradient(to bottom,#3f34d4, #1e7c8d);
}
nav{
    width: 80% ;
    position: sticky;
    margin : 20px auto;
     z-index: 1;
     display : flex;
     align-items:center;
}
.logo{
    flex-basis: 20%;
}
.logo img{
    width:auto;
}
.navigation{
    flex: 1;
    text-align: right;
}
.navigation ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navigation ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.info{
    color: rgb(43, 253, 1);
}